<h6>Información de contacto</h6>

<div class="row">
	<div class="column small-12 medium-6">
		<label>
			Correo electrónico
			<input type="email" placeholder="jhon.smith@gmail.com" name="email" id="email" value="{{email}}" required readonly>
		</label>
	</div>
	<div class="column small-12 medium-6">
		<label>
			Número de teléfono
			<input type="tel" placeholder="+ (58) 412 025789" name="telephone" id="telephone" value="{{telephone}}" required readonly>
		</label>
	</div>
</div>