<form action="sales/pay/paypal" method="POST" enctype="application/json">

	<input type="hidden" name="purchase" value="{{json purchase}}">
	<input type="hidden" name="redirect_url" value="{{return_url}}">
	<input type="hidden" name="token" value="{{token}}">
	
	<img src="/public/images/paypal-logo.png" alt="Paypal" class="image-center" style="width: 40%;">

	<div style="text-align: justify; margin-bottom: 20px;">
		<p><b>PayPal Holdings, Inc.</b> es una empresa estadounidense que opera en casi todo el mundo un sistema de pagos en línea que soporta transferencias de dinero entre usuarios y sirve como una alternativa electrónica a los métodos de pago tradicionales como cheques y giros postales. PayPal es una de las mayores compañías de pago por Internet del mundo</p>
	</div>

	{{> contact_form purchase.client }}

	<br>

	<div class="clearfix">
		<h6 class="float-left"><b>Total:</b> {{money purchase.currency purchase.total }} </h6>

		<button type="submit" class="button alert float-right">Procesar pago con paypal</button>
	</div>
</form>