<img src="/public/images/stripe-logo.png" alt="Stripe" class="image-center" style="width: 40%;">

<div style="text-align: justify; margin-bottom: 20px;">
	<p><b>Stripe, Inc.</b> es una compañía tecnologica norteamericana que opera en más de 25 países alrededor del mundo, que permite a personas naturales y comercios aceptar pagos a nivel internacional por internet. EL enfoque de stripe es el de ofrecer un especial cuidado en las tecnologías que hacen posible que funcione la empresa, en la prevención del fraude y en la infraestructura bancaria necesaria requerida para poder procesar pagos online.</p>
</div>

<h6 class="underlined" style="margin-bottom: 20px;">Seleccione una forma para pagar</h6>

<ul class="accordion stripe-methods" data-accordion>

	{{! Stripe con tarjeta de credito }}
	<li class="accordion-item is-active" data-accordion-item>
		<a href="#" class="accordion-title">Tarjeta de crédito</a>
		<div class="accordion-content" data-tab-content>
			{{> stripe/creditcard }}
		</div>
	</li>

	{{! Stripe con bitcoin }}
	<li class="accordion-item " data-accordion-item>
		<a href="#" class="accordion-title">Bitcoin</a>
		<div class="accordion-content" data-tab-content>
			{{> stripe/bitcoin }}			
		</div>

		<!-- This is the first modal -->
		<div class="reveal small" id="bitcoin_result" data-reveal data-animation-in = "fade-in" data-animation-out = "fade-out">

			<h6 class="underlined">Porfavor, realice su pago antes de continuar.</h6>

			<img src="/public/images/bitcoin.png" alt="Pagar con bitcoin" style="display: block; margin: 20px auto; max-width: 350px;">

			<p class="text-justify">Para continuar con su compra debe realizar un pago de <b>BTC <span id="btc_price"></span></b> desde su monedero de bitcoin a la siguiente dirección:</p>
			
			<div class="callout secondary">
				<h5 class="text-center" id="btc_address">no_address</h5>
			</div>

			<p class="text-justify">Una vez realizado el pago recibirá un email a la siguiente dirección: <b><span id="btc_email_client"></span></b>, con los pasos necesarios para concretar satisfactoriamente su transacción.</p>

			<a href="#" class="button alert" id="btc_wallet" style="display: block; margin: 0 auto;">Abrir monedero</a>

			{{! -- Close button -- }}
			<button class="close-button" data-close aria-label="Close reveal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</li>

	{{! Stripe otro beta }}
	<li class="accordion-item " data-accordion-item>
		<!-- Accordion tab title -->
		<a href="#" class="accordion-title">Apple Pay</a>

		<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
		<div class="accordion-content" data-tab-content>
			{{> stripe/apple }}
		</div>
	</li>
</ul>