<div style="width: 100%;">
	
	<img src="cid:notificaciones@insignia.com.ve" alt="Insignia Mobile Communications, C.A." style="display: block; margin: 0 auto;" />

	<span style="margin-top: 20px; margin-bottom: 20px;"></span>

	<h2 style="text-align: center;">¡Un nuevo pago ha sido procesado satisfactoriamente!.</h2>

	<div style="padding-top: 20px; padding-bottom: 20px;">
		
		<p>Muchas gracias por confiar en <b>Insignia Payments Solutions</b> para procesar su pago.</p>

		<p style="color: #202020;">Usted está recibiendo este correo electrónico porque ha realizado una nueva compra con {{ email }} como dirección correo electrónico, si ha sido usted solo ignore este mensaje, <b>si usted no ha realizado este pago porfavor haga <a href="google.com" target="_blank">click aquí</a></b>.</p>

	</div>

</div>