<div style="width: 100%;">
	
	<img src="cid:notificaciones@insigniamobile.com.ve" alt="Insignia Mobile Communications, C.A." style="display: block; margin: 0 auto;" />

	<hr>

	<h2 style="text-align: center;">Un nuevo pago ha sido procesado con esta cuenta de correo electrónico.</h2>

	<div style="padding-top: 20px; padding-bottom: 20px;">
		
		<p><b>¡Felicitaciones!</b>, su nuevo pago ha sido procesado correctamente.</p>

		<p style="font-size: small;">Usted está recibiendo este correo electrónico porque ha realizado una nueva compra con {{ email }} como dirección correo electrónico.</p>

	</div>

</div>