<h3>Ha ocurrido un problema al procesar su pago</h3>

<p>Estimado <b>{{ email }}</b>.</p>
<p>La reciente transacción con identificativo <b>{{ id_api_call }}</b> que usted ha realizado ha sido cancelada debido a que ha ocurrido un problema procesando su pago.</p>
<p>Porfavor, sientase libre de comunicarse con nosotros para solicitar información al respecto.</p>
<p>------------------------</p>
<p>El equipo de Insignia Payment Solutions (Insignia Mobile Communications, C.A.)</p>