<h3>¡Gracias por confiar en nosotros!</h3>

<p>Hola <b>{{email}}</b>.</p>
<p>Su nuevo pago identificado con el id <b>{{id_api_call}}</b> ha sido procesado correctamente por nuestra plataforma.</p>
<p>------------------------</p>
<p>El equipo de Insignia Payment Solutions (Insignia Mobile Communications, C.A.)</p>