<div style="background-color: #E9E9E9; width: 98%; padding-top: 20px; padding-bottom: 20px;">
	{{> header }}
	<div style="background-color: #fff; width: 90%; margin: 0 auto; padding: 20px; padding-top: 10px; padding-bottom: 10px;">
		{{{ body }}}
	</div>
	{{> footer }}
</div>