
<style>
	
</style>

<header>
	
</header>

<br><br>

<div class="row align-center">
	<div class="cloumn small-12 medium-9 large-8">
		<div style="text-align: center;">
			
			{{! Logo Insignia }}
			<img src="/public/images/logo.png" alt="Insignia Mobile Communications, C.A." class="image-center" style="margin-top: 0;">


			<h3>Ha ocurrido un error tratando de procesar su pago</h3>

			<p>Ofrecemos nuestras disculpas.</p>

			<a href="/v1/sales?token={{{ token }}}">Haga click aquí para regresar</a>

		</div>

	</div>
</div>