<br><br>
<div class="row align-center">
	<div class="cloumn small-12 medium-9 large-8">
		<a href="javascript:history.back();" class="go-back" style="padding-top: 30px;">
			<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
			Regresar al paso anterior
		</a>

		<br>
		<br>
		<br>

		<div style="text-align: center;">
			
			<p>{{json error}}</p>

		</div>

	</div>
</div>