<img src="cid:logoinsignia" />
<h3>Su tiempo para conformar su pago ha expirado</h3>
<br>
<p>Hola <b>{{ email }}</b>.</p>
<p>Su pago ha sido cancelado debido a que no ha confirmado el mismo en el tiempo estimado, recuerde que usted despues de ejecutar su pago a traves de su monedero a la dirección suministrada dispone de <b>una hora</b> para conformar su compra.</p>
<p>Ofrecemos nuestras más sinceras disculpas.</p>
<p>------------------------</p>
<p>El equipo de Insignia Payment Solutions (Insignia Mobile Communications, C.A.)</p>
<br>
<p style="color: #b7b7b7;">Usted esta recibiendo este email porque se ha procesado un pago en <b>Insignia Payment Solutions, C.A.</b> utilizando esta cuenta de correo electónico, si no ha sido usted haga <a href="#">click aquí</a></p