{{> header }}
<h3>Su tiempo para conformar el pago ha expirado</h3>

<p>Hola <b>{{ email }}</b>.</p>
<p>Su pago con el identificativo <b>{{ id_api_call }}</b> ha sido denegado debido a que usted no ha confirmado el mismo en el tiempo estimado.</p>
<p>Recuerde que usted después de ejecutar el pago a través de su monedero bitcoin a la dirección suministrada dispone de <b>diez minutos (10 min)</b> para conformar su compra, <b>todo pago realizado después de este margen de tiempo será ignorado y reembolsado automáticamente</b>.</p>
<p>Ofrecemos nuestras más sinceras disculpas.</p>
<p>------------------------</p>
<p>El equipo de Insignia Payment Solutions (Insignia Mobile Communications, C.A.)</p>

<p style="color: #b7b7b7;">Usted esta recibiendo este email porque se ha procesado un pago en <b>Insignia Payment Solutions, C.A.</b> utilizando esta cuenta de correo electónico, si no ha sido usted haga <a href="#">click aquí</a></p>